/* main app colors */
/*#3D679D Blå*/
/*#F6F7FB Kvit*/
/*#443F45 Svart*/

.header,.footer {
    background-color: #3D679D;
    color: #F6F7FB;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.footer {
    
    left: 0;
    bottom: 0;

    margin-top: 80px;
}