.button-cell-container {
    display: flex;
    gap: 8px;
    justify-content: center;
    padding: 1px;
}

.confirm-scores-btn, .edit-scores-btn {
    padding: 6px 20px;
    border-radius: 6px;
    font-weight: 600;
    transition: all 0.2s ease;
}

.confirm-scores-btn {
    background-color: #38a169;
    color: white;
}

.confirm-scores-btn:hover {
    background-color: #2f855a;
    transform: translateY(-1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.edit-scores-btn {
    background-color: #3D679D;
    color: white;
}

.edit-scores-btn:hover {
    background-color: #4b7ab5;
    transform: translateY(-1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.confirm-scores-btn:disabled:hover,
.edit-scores-btn:disabled:hover {
    background-color: inherit;
    transform: none;
    box-shadow: none;
    cursor: not-allowed;
    opacity: 0.65;
}

.swiss-btn {
    background-color: white;
    color: #3D679D;
}

@media print {

    #matchOverview table, #playerOverview table {
        margin: 0 auto; /* Centers the table */
        width: 90%; /* Adjusts the width */
        border-collapse: collapse; /* Ensures single borders */
        border: 1px solid black; /* Applies a single border to the table */
        border-radius: 0%; /* Removes rounded corners for print */
    }

    #matchOverview th, 
    #matchOverview td,
    #playerOverview th,
    #playerOverview td {
        border: 1px solid black; /* Applies borders to cells */
        padding: 8px; /* Adds spacing inside cells */
        text-align: center; /* Centers text inside cells */
        color: black; /* Sets text color to black for print */
    }

    /* Hide all buttons and controls during print */
    .button-cell-container,
    .button-cell-header{
        display: none !important;
    }
}