

/* scrollable table, except the header */
/* #playerTable {
    width: 100%;
    position: relative;
    height: 100%;
    border-collapse: collapse; 
}
#playerTable thead {
    width: 100%;
    display: table; 
    table-layout: fixed; 
}
#playerTable tbody {
    width: 100%;
    display: block; 
    height: 1000px; 
    overflow-y: auto; 
}
#playerTable tbody tr {
    display: table; 
    width: 100%;
    table-layout: fixed; 
} */
.total-points {
    font-size: 20px;
    font-weight: bold;
    color: #3D679D;
    text-align: center;
}
.player-name {
    font-size: 20px;
    font-weight: bold;
    color: black;
}
/* Add a hover effect to the player names */
.player-name:hover {
    color: #3D679D;
    cursor: pointer;
}
