#tournamentOverview {
    padding: 0;
    background-color: grey;
    overflow: hidden;
    position: relative; /* Ensure the parent container is positioned relatively */
    width: 100%; /* Adjust as needed */
    height: 100vh; /* Ensure it takes the full height of the viewport */
    overflow: hidden; /* Prevent the parent container from being scrollable */
    display: flex; /* Use flexbox to layout children */
}

#tournamentInfo {
    background-color: #3D679D;
    color: white;
    width: 100%;

}

#matchOverview, #playerOverview {
    width: 60%;
    overflow-y: scroll; /* Make matchOverview scrollable */
    height: 100%; /* Ensure it takes the full height of the parent */
    padding: 10px 20px 10px 20px;
    padding-bottom: 100px; /* Add padding to prevent content from being hidden under the fixed footer */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


#playerOverview {
    width: 40%;
}

/* Hide scrollbar for Webkit-based browsers */
#playerOverview::-webkit-scrollbar, #matchOverview::-webkit-scrollbar {
    display: none;
}