#tournamentOverview {
    padding: 0;
    background-color: grey;
    width: 100%; /* Adjust as needed */
    height: 100vh; /* Ensure it takes the full height of the viewport */
    display: flex; /* Use flexbox to layout children */
    margin-top: 30px; /* Adjust as needed */
    overflow: hidden;
}

#tournamentInfo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background-color: #3D679D;
    color: white;
    width: 100%;
    position: fixed; /* Fix the element to the top of the viewport */
    top: 0; /* Position it at the top */
    left: 0; /* Position it at the left */
    z-index: 1; /* Ensure it appears above other content */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    height: 50px;

}

#matchOverview, #playerOverview {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    overflow-y: scroll; /* Make matchOverview scrollable */
    height: 100%; /* Ensure it takes the full height of the parent */
    padding: 10px 20px 10px 20px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


#playerOverview {
    width: 40%;
}

/* Hide scrollbar for Webkit-based browsers */
#playerOverview::-webkit-scrollbar, #matchOverview::-webkit-scrollbar {
    display: none;
}